<h1>List of Genres</h1>

<table>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, genre %></td>
        <% if signed_in_admin?%>
        <td class="btn-group" >
          <%= link_to 'Edit', edit_genre_path(genre), class: "btn btn-success " %>
          <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
          </td>
        <% end %>
      </tr>
    <% end %>
</table>

<br>
<% if signed_in_admin?%>
<%= link_to 'New Genre', new_genre_path ,class: "btn btn-primary"%>
<% end %>




