<% provide(:title, "Search Results") %>
<h1>Search: "<%= @search_string%>"</h1>

<%= render 'shared/genres_with_counters_list', genres:  @genres %>

<div class="row">
<ul class="books">
  <%= render @books%>
</ul>
</div>