<% provide(:title, "List of Authors") %>
<h1>List of Authors</h1>

<table>
  <% @authors.each do |author| %>
      <tr>
        <td>
        <%= link_to author.name, author %></td>
        </td>
        <td class="btn-group">
          <%= link_to 'Edit', edit_author_path(author), class: "btn btn-success " %>
          <%= link_to 'Destroy', author, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Author', new_author_path ,class: "btn btn-primary"%>
