<li>
  <div class="row">
    <section class="orders">
    <div class = "col-md-4">
    <%= order_info(order)%>
    </div>
    <div class = "col-md-8">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Title of Book</th>
          <th>Total Price</th>

        </tr>
        </thead>
        <tbody>
        <% order.line_items.each do |line_item| %>
           <%= render 'line_items/line_item_without_button', line_item:  line_item%>
        <%end%>
        </tbody>
        </table>
    </div>
    </section>
  </div>
</li>