<footer class="footer">
  <small>Qart bookstore by <a href="https://github.com/mytreo">Mytreo</a> </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><a href="https://github.com/mytreo/qart_bookstore">Source Code</a></li>
    </ul>
  </nav>
</footer>