<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <%= link_to'#' do %>
        <i class="glyphicon glyphicon-education"> <p id="logo">Qart BookStore </p></i>
      <% end %>
        <ul class="nav  nav-pills navbar-right">
          <li><%= link_to '#' do %>
                <i class="glyphicon glyphicon-log-in"></i><p>Sign in</p>
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
                <i class="glyphicon glyphicon-shopping-cart"></i><p>Cart</p>
            <% end %>
          </li>
        </ul>
    </div>
</header>

